
<div>
  <div class="form">

    <div class="tab-content">
      <div id="signup">
        <h1>Create Appointment</h1>

        <%= form_for appointment, :as => :appointment, remote: true, :url => appointment_index_path(@user) do |f| %>

          <div class="top-row">
            <div class="field-wrap">
              <%= f.text_field :name, required: true, placeholder: "Name" %>
            </div>

            <div class="field-wrap">
              <%= f.text_field :mobile, required: true, placeholder: "Mobile" %>
            </div>
          </div>

          <div class="field-wrap">
            <%= f.text_field :email, required: true, placeholder: "Email Address" %>
          </div>

          <div class="field-wrap">
            <%= f.text_field :address, required: true, placeholder: "Address" %>
          </div>

          <div class="field-wrap">
            <%= f.date_field :desired_date, value: DateTime.tomorrow.strftime("%Y-%m-%d"), min: Date.tomorrow, required: true, class: 'appointment_date_field' %>
          </div>

          <div class="field-wrap">

            <p class="input-label">
              <div class="label-field-title">
                <%= f.label 'Slot' %><br/>
              </div>
             <div class="radio-input">
              <div class="nine_ten_class">
                <div class="nine-ten-text">
                  <div class="label-field">
                    <%= f.label :slot_id, '9 AM - 10 AM' %>
                  </div>
                </div>
                <%= f.radio_button :slot_id, 'nine_ten', required: true %> <br/>

              </div>
              <div class="ten_eleven_class">
                <div class="nine-ten-text">
                  <div class="label-field">
                    <%= f.label :slot_id, '10 AM - 11 AM' %>
                  </div>
                </div>
                <%= f.radio_button :slot_id, 'ten_eleven', required: true %><br/>

              </div>
              <div class="eleven_twelve_class">
                <div class="nine-ten-text">
                  <div class="label-field">
                    <%= f.label :slot_id, '11 AM - 12 PM' %>
                  </div>
                </div>
                <%= f.radio_button :slot_id, 'eleven_twelve' %><br/>

              </div>
              <div class="twelve_one_class">
                <div class="nine-ten-text">
                  <div class="label-field">
                    <%= f.label :slot_id, '12 PM - 01 PM' %>
                  </div>
                </div>
                <%= f.radio_button :slot_id, 'twelve_one' %>

              </div>
             </div>
              </p>

          </div>

          <button type="submit" class="button button-block"/>Create Appointment</button>

        <% end %>

      </div>

      <div id="login">
        <h1>Welcome Back!</h1>

        <form action="/" method="post">

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button class="button button-block"/>Log In</button>

        </form>

      </div>

    </div><!-- tab-content -->

  </div> <!-- /form -->
</div>