<table class="appointment-table-show">
  <thead>
  <tr class="table-header">
    <th><%= 'Name' %></th>
    <th><%= 'Address' %></th>
    <th><%= 'Mobile' %></th>
    <th><%= 'Email' %></th>
    <th><%= 'Desired Date' %></th>
    <th><%= 'Slot' %></th>
  </tr>
  </thead>
  <tbody>
    <tr class="table-bordered">
      <td class="row-expand"><%= @appointment.name %></td>
      <td class="row-expand"><%= @appointment.address %></td>
      <td class="row-expand"><%= @appointment.mobile %></td>
      <td class="row-expand"><%= @appointment.email %></td>
      <td class="row-expand"><%= @appointment.desired_date %></td>
      <td class="row-expand"><%= Appointment.human_slot_time(@appointment.slot_id) %></td>
    </tr>
  </tbody>
</table>

<div class="pdf-download">
  <%= link_to 'Download Appointment PDF', download_pdf_path(appointment: @appointment, format: 'pdf') %>
</div>
