<div class="dashboard">
  <% flash.each do |key, value| %>
    <div class="alert">
      <%= value %>
    </div>
  <% end %>
  <div id="flash-box">
    <div></div>
  </div>
</div>

<div class="btn btn-danger">
  <%= link_to 'Upload Result', upload_result_path %>
</div>

<div class="create-appointment create-appointment-confirm">
  <h3 class="title is-4"><%= 'All Appointments' %></h3>

  <table id="appointment-table" class="table sort-data">
    <thead>
      <tr class="table-header">
        <th><%= 'Name' %></th>
        <th><%= 'Address' %></th>
        <th><%= 'Mobile' %></th>
        <th><%= 'Desired Date' %></th>
        <th><%= 'Confirmed Time' %></th>
        <th><%= 'Action' %></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr class="table-bordered">
          <td class="row-expand"><%= appointment.name %></td>
          <td class="row-expand"><%= appointment.address %></td>
          <td class="row-expand"><%= appointment.mobile %></td>
          <td class="row-expand"><%= appointment.desired_date %></td>
          <td>
            <%= form_for appointment, :as => :appointment, url: appointment_path(appointment), :html=>{:method=>:patch} do |f| %>
              <p class="input-label">
                <%= f.date_field :confirmed_date, value: appointment.desired_date.strftime("%Y-%m-%d") %>
              </p>
              </td>
              <td>
                <%= f.submit 'Send', class: 'submit-btn-sms' %>
              </td>
            <% end %>
            </tr>
      <% end %>
    </tbody>
  </table>
</div>
