<script type="text/javascript" src="/javascripts/lib/upload_result_datatable.js"></script>

<div class="dashboard">
  <% flash.each do |key, value| %>
    <div class="alert">
      <%= value %>
    </div>
  <% end %>
  <div id="flash-box">
    <div></div>
  </div>
</div>

<div class="btn btn-danger">
  <div class="back">
    <%= link_to 'Back', appointment_index_path %>
  </div>
</div>

<div class="btn btn-danger">
  <div class="back">
    <%= link_to 'Plasma Donors', plasma_donors_path %>
  </div>
</div>

<div class="create-appointment create-appointment-confirm">
  <h3 class="title is-4"><%= 'All Appointments' %></h3>

  <table id="upload-result-table" class="table sort-data">
    <thead>
      <tr class="table-header">
        <th><%= 'Serial' %></th>
        <th><%= 'Name' %></th>
        <th><%= 'Address' %></th>
        <th><%= 'Mobile' %></th>
        <th colspan="2"><%= 'Result' %></th>
        <th><%= 'Action' %></th>
      </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
      <tr class="table-bordered">
        <td class="row-expand"><%= appointment.serial%></td>
        <td class="row-expand"><%= appointment.name%></td>
        <td class="row-expand"><%= appointment.address %></td>
        <td class="row-expand"><%= appointment.mobile %></td>

        <td>
          <%= form_for appointment, :as => :appointment, url: save_result_file_path, :html=>{:method=>:put} do |f| %>
          <p class="input-label">
            <%= f.radio_button :test_result, 'Positive' %>
            <%= f.label :test_result, 'positive' %>
          </p>
        </td>
        <td>
          <p class="input-label">
            <%= f.radio_button :test_result, 'Negative' %>
            <%= f.label :test_result, 'negative' %>
          </p>
        </td>
        <td>
          <%= f.submit 'Submit', class: 'upload-result-file' %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
