%a{name: 'services'}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Appointment for Covid-19 Test:
          %br
          In your preferred time
        %p.lead
          After giving the required info you can book a slot for a covid-19 test in your vicinity.
      .col-lg-5.col-lg-offset-2.col-sm-6
        = link_to new_appointment_path do
          = image_tag 'ipad.png', class: 'img-responsive', alt: ''
.content-section-b
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Get Confirmation on Mobile SMS
          %br
          Get Test Result too
        %p.lead
          After making an appointment, we will confirm your testing sample collection through SMS. We will also
          send you the test result through SMS once it is published.
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag 'phones.png', class: 'img-responsive', alt: ''

-#
%a{name: 'contact'}
.banner
  .container
    .row
      .col-lg-6
        %h2
          See what's Happening Home and Abroad
      .col-lg-6
        %ul.list-inline.banner-social-buttons
          %li
            = link_to 'https://corona.gov.bd/', class: 'btn btn-default btn-lg', target: :_blank do
              %span.network-name
                Live Statistics
            %li
              = link_to 'https://iedcr.gov.bd/', class: 'btn btn-default btn-lg', target: :_blank do
                %span.network-name
                  IEDCR
            %li
              = link_to 'https://www.worldometers.info/coronavirus/', class: 'btn btn-default btn-lg', target: :_blank do
                %span.network-name
                  World Statistics
