%a{name: 'about'}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1.main-header-color
            Make Appointment and See result of Covid-19
          %h3.secondary-header-color
            An Initiative of Department of ICT, People's Republic of Bangladesh
          %hr.intro-divider
          .stat-link
            %ul.list-inline.intro-social-buttons
              %li
                = link_to '#', data: { toggle: 'modal', target: '#myModal' }, class: 'btn btn-default btn-lg' do
                  %span.network-name
                    Make Appointment
                %li
                  = link_to new_user_path, class: 'btn btn-default btn-lg' do
                    %span.network-name
                      All Appointments


#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Create Appointment
      %div
        .form
          .tab-content
            #signup
              = form_for Appointment.new, :as => :appointment, remote: true, :url => appointment_index_path(@user) do |f|
                .field-wrap
                  = f.text_field :name, required: true, placeholder: "Name / নাম"
                .top-row
                  .field-wrap
                    = f.text_field :gender, required: true, placeholder: "Gender / লিঙ্গ"
                  .field-wrap
                    = f.text_field :age, required: true, placeholder: "Age / বয়স"
                .top-row
                  .field-wrap
                    = f.text_field :mobile, required: true, placeholder: "Mobile / মোবাইল"
                  .field-wrap
                    = f.text_field :email, required: true, placeholder: "E-Mail / ইমেইল"
                .field-wrap
                  = f.text_field :address, required: true, placeholder: "Postal Address / বাসার ঠিকানা"
                .top-row
                  .field-wrap
                    = f.text_field :district, required: true, placeholder: "District / জেলা"
                  .field-wrap
                    = f.text_field :upazila, required: true, placeholder: "Upazila / উপজেলা"
                .field-wrap
                  = f.date_field :desired_date, value: DateTime.tomorrow.strftime("%Y-%m-%d"), min: Date.tomorrow, required: true, class: 'appointment_date_field'
                .plasma-consent-question
                  .field-wrap
                    .label-field-title
                      = f.label 'Tested Before? / আগে টেস্ট করেছেন?'
                      = f.check_box :second_time, { checked: false }
                      %br/
                #plasma-consent
                  .field-wrap
                    .label-field-title
                      = f.label 'Want to Donate Plasma? / প্লাজমা দিতে চান?'
                      = f.check_box :willing_to_plasma_donation, { checked: false }
                      %br/
                .field-wrap
                  %p.input-label
                  .label-field-title
                    = f.label 'Slot / কোন সময়ে আসতে চান'
                    %br/
                  .radio-input
                    .nine_ten_class
                      .nine-ten-text
                        .label-field
                          = f.label :slot_id, '9 AM - 10 AM'
                      = f.radio_button :slot_id, 'nine_ten', required: true
                      %br/
                    .ten_eleven_class
                      .nine-ten-text
                        .label-field
                          = f.label :slot_id, '10 AM - 11 AM'
                      = f.radio_button :slot_id, 'ten_eleven', required: true
                      %br/
                    .eleven_twelve_class
                      .nine-ten-text
                        .label-field
                          = f.label :slot_id, '11 AM - 12 PM'
                      = f.radio_button :slot_id, 'eleven_twelve'
                      %br/
                    .twelve_one_class
                      .nine-ten-text
                        .label-field
                          = f.label :slot_id, '12 PM - 01 PM'
                      = f.radio_button :slot_id, 'twelve_one'
                = succeed "Create" do
                  %button.button.button-block{:type => "submit"}
            #login
              %h1 Welcome Back!
              %form{:action => "/", :method => "post"}
                .field-wrap
                  %label
                    Email Address
                    %span.req *
                  %input{:autocomplete => "off", :required => "", :type => "email"}/
                .field-wrap
                  %label
                    Password
                    %span.req *
                  %input{:autocomplete => "off", :required => "", :type => "password"}/
                %p.forgot
                  %a{:href => "#"} Forgot Password?
                = succeed "Log" do
                  %button.button.button-block
          / tab-content
        / /form
